/* #region FONTS */
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Semibold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
/* #endregion FONTS */

/* #region ALL Settings */
body {
  font-family: "Gilroy", sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbff;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1180px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* #endregion ALL Settings */

/* #region Header Mobile */
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 15px;
}
.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav {
  display: none;
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.header-social-list {
  display: none;
}
.header-social-item {
}
.header-social-link {
}
.header-social-icon {
}
.menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}
.menu-btn-icon {
}
/* #endregion Header Mobile */
/* #region Header Tablet */
@media screen and (min-width: 768px) {
  .header-container {
    padding: 34px 15px;
  }
  .header-logo {
    font-size: 20px;
  }
}

/* #endregion Header Tablet */
/* #region Header Desktop */
@media screen and (min-width: 1158px) {
  .header-container {
    padding: 32px 15px;
  }
  .header-nav {
    display: block;
  }
  .header-nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    display: flex;
    gap: 40px;
  }
  .header-nav-item {
  }
  .header-nav-link {
    display: block;
    color: #0c0c0c;
    position: relative;
    transition: transform 250ms;
  }
  .header-nav-link:hover::after {
    content: " ";
    border-radius: 100%;
    position: absolute;
    background-color: #3350e9;
    width: 8px;
    height: 8px;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .header-social-list {
    display: flex;
    gap: 10px;
  }
  .header-social-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    transition:
      fill 250ms,
      border-color 250ms;
  }
  .header-social-link {
    display: block;
  }
  .header-social-link:hover,
  .header-social-link:focus {
    fill: #3350e9;
  }
  .menu-btn {
    display: none;
  }
}
/* #endregion Header Desktop */

/* #region HERO Mobile */
.hero {
  padding-top: 60px;
  padding-bottom: 30px;
}
.container {
}
.hero-container {
}
.hero-wrap {
}
.descr-container {
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}
.hero-title-part {
  color: #3350e9;
}
.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.scroll-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 28px;
}
.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}
.hero-image-box {
  width: 335px;
  height: 366px;
}
.hero-image {
  width: 100%;
  display: block;
  height: auto;
}
.hero-image {
  width: 100%;
  height: 336px;
  background-image: url("../images/sec-hero/hero-watch-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10%;
  margin: 0 auto;
}
/* #endregion HERO Mobile */
/* #region HERO Tablet */
@media screen and (min-width: 768px) {
  .hero-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.85;
    max-width: 557px;
  }
  .hero-descr {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
    margin: 0;
  }
  .scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .hero-link {
    font-size: 20px;
    line-height: 1;
  }
  .hero-image-box {
    width: 704px;
    height: 520px;
  }

  .hero-image {
    width: 100%;
    height: 520px;
    background-image: url("../images/sec-hero/hero-watch-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7%;
  }
}
/* #endregion HERO Tablet */
/* #region HERO Desktop */
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 0.9;
    max-width: 597px;
  }
  .hero-descr {
    max-width: 480px;
  }
  .hero-image-box {
    width: 1150px;
    height: 500px;
  }
  .hero-image {
    width: 1150px;
    height: 500px;
    background-image: url("../images/sec-hero/hero-watch-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
  }
}
/* #endregion HERO Desktop */

/* #region About Us Mobile */
.about-us {
}
.container {
}
.about-container {
  background-color: #f3f3f3;
  padding: 40px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.about-item {
}
.about-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  min-width: 160px;
  min-height: 48px;
  border-radius: 16px;
  border: none;
  transition: background-color 250ms;
}
.about-btn:hover,
.about-btn:focus {
  background-color: #1f3cd4;
}
/* #endregion About Us Mobile */
/* #region About Us Tablet */
@media screen and (min-width: 768px) {
  .about-container {
    padding: 80px 60px;
    border-radius: 50px;
    margin-bottom: 40px;
  }
  .about-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }
  .about-list {
    margin-bottom: 60px;
  }
  .about-item {
  }
  .about-descr {
    font-size: 16px;
    line-height: 1.25;
  }
  .about-btn {
  }
  .about-image {
    width: 100%;
  }
}
/* #endregion About Us Tablet */
/* #region About Us Desktop */
@media screen and (min-width: 1158px) {
  .about-us .container {
    display: flex;
    gap: 40px;
  }
  .about-container {
    max-width: 580px;
    padding: 80px 60px;
    margin-bottom: 0;
  }
  .about-list {
    margin-bottom: 40px;
  }
}
/* 
.about-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  min-width: 160px;
  min-height: 48px;
  border-radius: 16px;
  border: none;
  transition: background-color 250ms;
}
.about-btn:hover,
.about-btn:focus {
  background-color: #1f3cd4;
} */
/* #endregion About Us Desktop */

/* #region CATALOG Mobile */
.catalog {
}
.container {
}
.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.catalog-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.catalog-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 24px 28px;
}
.catalog-list-img {
}
.catalog-descr-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.catalog-descr-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
.mobile-catalog-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background-color: #3350e9;
  width: 160px;
  height: 48px;
  border: none;
  margin: 40px auto 0;
  display: block;
}
.mobile-catalog-btn:hover,
.mobile-catalog-btn:focus {
  background-color: #1f3cd4;
}
/* #endregion CATALOG Mobile */
/* #region CATALOG Tablet */
@media screen and (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
    margin: 0 auto;
  }
  .catalog-list-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .catalog-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }
  .catalog-list-item {
    padding: 24px 32px;
    width: calc((100% - 16px) / 2);
  }
  .catalog-descr-name {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mobile-catalog-btn {
    display: none;
  }
}
/* #endregion CATALOG Tablet */
/* #region CATALOG Desktop */
@media screen and (min-width: 1158px) {
  .catalog-list {
    gap: 32px 23px;
  }
  .catalog-list-item {
    width: calc((100% - 2 * 23px) / 3);
  }
}
/* #endregion CATALOG Desktop */

/* #region Advertisement Mobile  */
.adver-container {
  padding: 60px 28px;
  border-radius: 30px;
  background-color: #0c0c0c;
  background-image: url(../images/bg-advr-mobile.png);
  background-size: cover;
}
.adver-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 279px;
  margin-bottom: 28px;
}
.adver-title-part {
  color: rgba(251, 251, 251, 0.5);
}
.adver-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  background-color: transparent;
  color: #fbfbfb;
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  transition:
    background-color color 250ms,
    color 250ms;
}
.adver-btn:hover,
.adver-btn:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
/* #endregion Advertisement Mobile  */
/* #region Advertisement Tablet  */
@media screen and (min-width: 768px) {
  .adver-container {
    padding: 80px 64px;
    border-radius: 30px;
    background-color: #0c0c0c;
    background-image: url(../images/bg-advr-tablet.png);
    background-size: cover;
  }
  .adver-title {
    font-size: 48px;
    line-height: 0.91;
    max-width: 576px;
    margin-bottom: 32px;
  }
}
/* #endregion Advertisement Tablet  */
/* #region Advertisement Desktop  */
@media screen and (min-width: 1158px) {
  .adver-container {
    display: flex;
    justify-content: space-between;
    padding: 83px 80px;
    background-color: #0c0c0c;
    background-image: url(../images/bg-advr.png);
    background-size: cover;
    border-radius: 30px;
  }
  .adver-title {
    max-width: 690px;
    margin-bottom: 0;
  }
}

/* #endregion Advertisement Desktop  */

/* #region SALE Mobile */
.sale {
}
.section {
}
.container {
}
.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.sale-container {
}
.image-container {
}
.small-image-container {
  margin-bottom: 20px;
}
.sale-image-list {
  display: flex;
  gap: 5px;
}
.sale-image-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;

  background-color: #f3f3f3;
  padding: 13px 14px;
}
.big-image-container {
  padding: 50px;
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  margin-bottom: 20px;
}
.sale-info-container {
  background-color: #3350e9;
  border-radius: 50px;
  padding: 48px 28px;
}
.sale-header {
  margin-bottom: 20px;
}
.sale-title-info {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}
.sale-descr-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.sale-price-container {
  margin-bottom: 28px;
}
.sale-price-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
  width: 68px;
  height: 32px;
  margin-right: 9px;
}
.sale-price-old {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}
.sale-descr-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}
.sale-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.sale-info-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  max-width: 128px;
  max-height: 32px;
}
.sale-info-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  white-space: nowrap;
}
/* #endregion SALE Mobile */
/* #region SALE Tablet */
@media screen and (min-width: 768px) {
  .sale-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }
  .image-container {
    display: flex;
    margin-bottom: 40px;
  }
  .small-image-container {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .sale-image-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .sale-image-list-item {
    padding: 16px 18px;
  }

  .big-image-container {
    margin-bottom: 0px;
    padding: 80px 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .sale-info-container {
    padding: 60px;
  }
  .sale-title-info {
    font-size: 32px;
    line-height: 1.12;
  }
  .sale-price-container {
    margin-bottom: 30px;
  }
  .sale-price-new {
    font-size: 20px;
    line-height: 1;
  }
  .sale-descr-about {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .sale-info-list {
    max-width: 398px;
  }
  .sale-info-item {
    max-width: 145px;
    max-height: 34px;
  }
  .sale-info-descr {
    font-size: 14px;
    line-height: 1.28;
  }
}
/* #endregion SALE Tablet */
/* #region SALE Desktop */
@media screen and (min-width: 1158px) {
  .sale-container {
    display: flex;
  }
  .small-image-container {
    margin-right: 20px;
  }
  .sale-image-list-item {
    width: 132px;
    height: 132px;
  }
  .big-image-container {
    width: 428px;
    height: 558px;
    padding: 80px 50px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sale-info-container {
    max-width: 530px;
    max-height: 558px;
  }
}

/* #endregion SALE Desktop */

/* #region REVIEWS Mobile */
.reviews {
}
.section {
}
.container {
}
.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-container {
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 335px;
  max-height: 262px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-descr-container {
}
.reviews-card-name {
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.reviews-card-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}
/* #endregion REVIEWS Mobile */
/* #region REVIEWS Tablet */
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }
  .reviews-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    flex-direction: column;
    width: calc((100% - 16px) / 2);
    max-width: none;
  }
  .reviews-card-name {
    font-size: 18px;
    line-height: 1.1;
  }
  .reviews-card-descr {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* #endregion REVIEWS Tablet */
/* #region REVIEWS Desktop */
@media screen and (min-width: 1158px) {
  .reviews-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .card-container {
    width: calc((100% - 2 * 20px) / 3);
  }
  .reviews-card-descr {
  }
}
/* #endregion REVIEWS Desktop */

/* #region CONTACT Mobile */
.contact {
}
.section {
}
.container {
}
.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.contact-container {
}
.contact-from-container {
  border-radius: 30px;
  padding: 48px 28px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}
.form-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.input-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #0c0c0c;
  margin-bottom: 18px;
  padding: 14px 12px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
}
.input-descr-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
  margin-bottom: 28px;
  padding: 14px 12px;
  resize: none;
  height: 84px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
}
.form-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background-color: #3350e9;
  border: none;
}
.contact-image {
  width: 335px;
  height: 512px;
  object-fit: cover;
  border-radius: 30px;
}
/* #endregion CONTACT Mobile */

/* #region CONTACT Tablet */
@media screen and (min-width: 768px) {
  .contact-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }
  .contact-from-container {
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 40px;
    border-radius: 50px;
    padding: 50px 122px;
  }
  .input-descr {
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 0px 16px 18px;
  }
  .input-descr-comment {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 16px;
    height: 90px;
  }
  .form-btn {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }
  .contact-image {
    border-radius: 50px;
    width: 100%;
    height: 556px;
    object-fit: cover;
    display: block;
  }
}
/* #endregion CONTACT Tablet */
/* #region CONTACT Desktop */
@media screen and (min-width: 1158px) {
  .contact-container {
    display: flex;
    gap: 40px;
  }
  .contact-from-container {
    padding: 50px 60px;
  }
}
/* .contact-section {
}
.contact-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.contact-container {
  display: flex;
  gap: 40px;
}
.contact-from-container {
  border-radius: 50px;
  width: 580px;
  height: 556px;
  padding: 50px 60px;
  background-color: #f3f3f3;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-descr {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 32px;
}
.input-descr {
  font-weight: 400;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 16px;
  width: 100%;
  height: 52px;
  transition: border-color 250ms;
  margin-bottom: 18px;
}
.input-descr-comment {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  height: 90px;
  margin-bottom: 32px;
  resize: none;
  transition: border-color 250ms;
}
.input-descr:hover,
.input-descr:focus,
.input-descr:focus-visible {
  border: 1px solid rgb(51, 80, 233);
  outline: none;
}
.input-descr-comment:hover,
.input-descr-comment:focus,
.input-descr-comment:focus-visible {
  border: 1px solid rgb(51, 80, 233);
  outline: none;
}
.form-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  padding: 17px 63px;
  max-width: 160px;
  height: 52px;
  border: none;
  transition: background-color 250ms;
}
.form-btn:hover,
.form-btn:focus,
.form-btn:active {
  background-color: #1f3cd4;
} */
/* #endregion CONTACT Desktop */

/* #region Footer Mobile */
/* #endregion Footer Mobile */
/* #region Footer Tablet */
/* #endregion Footer Tablet */
/* #region Footer Desktop */
.footer {
  padding-top: 50px;
}
.footer .container {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 40px 40px 28px;
}
.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 126px;
}
.footer-social-container {
}
.footer-social-descr {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}

.footer-social-link {
  opacity: 0.5;
  fill: #fbfbfb;
  transition: opacity 250ms;
}
.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 1;
}
.footer-social-icon {
}
.footer-title-container {
}
.footer-title-descr {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 523px;
}
.footer-bottom-text {
}
.footer-tel-container {
}
.footer-tel-link {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.5;
  transition: opacity 250ms;
}
.footer-tel-link:hover,
.footer-tel-link:focus {
  opacity: 1;
}
.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.footer-navigation-list {
  display: flex;
  gap: 40px;
}
.footer-navigation-item {
}
.footer-navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  position: relative;
}
.footer-navigation-link:hover::after,
.footer-navigation-link:focus::after {
  content: " ";
  border-radius: 100%;
  position: absolute;
  background-color: #fbfbff;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.footer-adress {
  max-width: 162px;
}
.footer-adress-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  opacity: 0.5;
  transition: opacity 250ms;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  opacity: 1;
}
.footer-line {
  stroke-width: 1px;
  stroke: rgba(251, 251, 251, 0.1);
}
.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-descr {
}
.footer-bottom-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}
.footer-bottom-copyright {
}
.footer-bottom-list {
  display: flex;
  gap: 20px;
}
.footer-bottom-item {
}
.footer-bottom-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}
/* #endregion Footer Desktop */
