/* #region FONTS */
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Semibold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
/* #endregion FONTS */

/* #region ALL Settings */
body {
  font-family: "Gilroy", sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/* #endregion ALL Settings */

/* #region Header */
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav {
}
.header-nav-list {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28;
}
.header-nav-item {
}
.header-nav-link {
  color: #0c0c0c;
}
.header-social-list {
}
.header-social-item {
}
.header-social-link {
}
/* #endregion Header */

/* #region HERO */
.main {
}
.hero {
}
.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.hero-title-part {
  color: #3350e9;
}
.hero-descr {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

/* #endregion HERO */
