/* #region FONTS */
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Semibold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../css/fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
/* #endregion FONTS */

/* #region ALL Settings */
body {
  font-family: "Gilroy", sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbff;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1180px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* #endregion ALL Settings */

/* #region Header Mobile */
/* #endregion Header Mobile */
/* #region Header Tablet */
/* #endregion Header Tablet */
/* #region Header Desktop */
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav {
}
.header-nav-list {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28;
  display: flex;
  gap: 40px;
}
.header-nav-item {
}

.header-nav-link {
  display: block;
  padding: 30px 0;
  color: #0c0c0c;
  position: relative;
  transition: transform 250ms;
}
.header-nav-link:hover::after {
  content: " ";
  border-radius: 100%;
  position: absolute;
  background-color: #3350e9;
  width: 8px;
  height: 8px;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
.header-social-list {
  display: flex;
  gap: 10px;
}
.header-social-item {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  transition:
    fill 250ms,
    border-color 250ms;
}

.header-social-link {
  display: block;
}
.header-social-link:hover,
.header-social-link:focus {
  fill: #3350e9;
}

/* #endregion Header Desktop */

/* #region HERO Mobile */
/* #endregion HERO Mobile */
/* #region HERO Tablet */
/* #endregion HERO Tablet */
/* #region HERO Desktop */

.hero {
  padding-top: 80px;
  padding-bottom: 50px;
}
.hero-container {
}
.hero-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.descr-container {
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 597px;
  margin-bottom: 20px;
}
.hero-title-part {
  color: #3350e9;
}
.hero-descr {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}
.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

/* #endregion HERO Desktop */

/* #region About Us Mobile */
/* #endregion About Us Mobile */
/* #region About Us Tablet */
/* #endregion About Us Tablet */
/* #region About Us Desktop */
.about-us {
}
.about-us .container {
  display: flex;
  gap: 40px;
}

.about-container {
  max-width: 580px;
  background-color: #f3f3f3;
  border-radius: 50px;
  padding: 80px 60px;
}
.about-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.about-item {
}

.about-descr {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  min-width: 160px;
  min-height: 48px;
  border-radius: 16px;
  border: none;
  transition: background-color 250ms;
}
.about-btn:hover,
.about-btn:focus {
  background-color: #1f3cd4;
}
/* #endregion About Us Desktop */

/* #region CATALOG Mobile */
/* #endregion CATALOG Mobile */
/* #region CATALOG Tablet */
/* #endregion CATALOG Tablet */
/* #region CATALOG Desktop */
.catalog {
}
.catalog-list {
  display: flex;
  gap: 32px 23px;
  flex-wrap: wrap;
}
.catalog-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  width: calc((100% - 2 * 23px) / 3);
  padding: 24px 32px;
}
.catalog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.catalog-descr-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 8px;
}
.catalog-descr-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
/* #endregion CATALOG Desktop */

/* #region Advertisement Mobile  */
/* #endregion Advertisement Mobile  */
/* #region Advertisement Tablet  */
/* #endregion Advertisement Tablet  */
/* #region Advertisement Desktop  */
.advertisement {
}
.advertisement .container {
  display: flex;
  justify-content: space-between;
  padding: 83px 80px;
  background-color: #0c0c0c;
  background-image: url(../images/bg-advr.png);
  background-size: cover;
  border-radius: 30px;
}
.adver-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}
.adver-title-part {
  color: rgba(251, 251, 251, 0.5);
}
.adver-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  background-color: transparent;
  color: #fbfbfb;
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  transition:
    background-color color 250ms,
    color 250ms;
}
.adver-btn:hover,
.adver-btn:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
/* #endregion Advertisement Desktop  */

/* #region SALE Mobile */
/* #endregion SALE Mobile */
/* #region SALE Tablet */
/* #endregion SALE Tablet */
/* #region SALE Desktop */
.sale {
}
.sale-container {
  display: flex;
}
.sale-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.small-image-container {
  margin-right: 20px;
}
.sale-image-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sale-image-list-item {
  background: #f3f3f3;
  width: 132px;
  height: 132px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  padding: 16px 18px;
}
.big-image-container {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 50px;
  width: 428px;
  height: 558px;
  background-color: #f3f3f3;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale-info-container {
  background-color: #3350e9;
  border-radius: 50px;
  width: 530px;
  height: 558px;
  padding: 60px;
}
.sale-header {
}
.sale-title-info {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}
.sale-descr-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}
.sale-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 30px;
}
.sale-price-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: #3b5bfd;
}
.sale-price-old {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}
.sale-descr-about {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}
.sale-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.sale-info-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  min-width: 64px;
  height: 34px;
}
.sale-info-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}
/* #endregion SALE Desktop */

/* #region REVIEWS Mobile */
/* #endregion REVIEWS Mobile */
/* #region REVIEWS Tablet */
/* #endregion REVIEWS Tablet */
/* #region REVIEWS Desktop */
.reviews {
}
.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.reviews-container {
  display: flex;
  gap: 20px;
}

.card-container {
  border-radius: 30px;
  padding: 32px 36px;
  width: 370px;
  height: 272px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: #f3f3f3;
  width: calc((100% - 2 * 20) / 3);
}
.card-descr-container {
}
.reviews-card-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.reviews-card-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}
/* #endregion REVIEWS Desktop */

/* #region CONTACT Mobile */
/* #endregion CONTACT Mobile */
/* #region CONTACT Tablet */
/* #endregion CONTACT Tablet */
/* #region CONTACT Desktop */
.contact-section {
}
.contact-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.contact-container {
  display: flex;
  gap: 40px;
}
.contact-from-container {
  border-radius: 50px;
  width: 580px;
  height: 556px;
  padding: 50px 60px;
  background-color: #f3f3f3;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-descr {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 32px;
}
.input-descr {
  font-weight: 400;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 16px;
  width: 100%;
  height: 52px;
  transition: border-color 250ms;
  margin-bottom: 18px;
}
.input-descr-comment {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  height: 90px;
  margin-bottom: 32px;
  resize: none;
  transition: border-color 250ms;
}
.input-descr:hover,
.input-descr:focus,
.input-descr:focus-visible {
  border: 1px solid rgb(51, 80, 233);
  outline: none;
}
.input-descr-comment:hover,
.input-descr-comment:focus,
.input-descr-comment:focus-visible {
  border: 1px solid rgb(51, 80, 233);
  outline: none;
}
.form-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  padding: 17px 63px;
  max-width: 160px;
  height: 52px;
  border: none;
  transition: background-color 250ms;
}
.form-btn:hover,
.form-btn:focus,
.form-btn:active {
  background-color: #1f3cd4;
}
/* #endregion CONTACT Desktop */

/* #region Footer Mobile */
/* #endregion Footer Mobile */
/* #region Footer Tablet */
/* #endregion Footer Tablet */
/* #region Footer Desktop */
.footer {
  padding-top: 50px;
}
.footer .container {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 40px 40px 28px;
}
.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 126px;
}
.footer-social-container {
}
.footer-social-descr {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}

.footer-social-link {
  opacity: 0.5;
  fill: #fbfbfb;
  transition: opacity 250ms;
}
.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 1;
}
.footer-social-icon {
}
.footer-title-container {
}
.footer-title-descr {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 523px;
}
.footer-bottom-text {
}
.footer-tel-container {
}
.footer-tel-link {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.5;
  transition: opacity 250ms;
}
.footer-tel-link:hover,
.footer-tel-link:focus {
  opacity: 1;
}
.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.footer-navigation-list {
  display: flex;
  gap: 40px;
}
.footer-navigation-item {
}
.footer-navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  position: relative;
}
.footer-navigation-link:hover::after,
.footer-navigation-link:focus::after {
  content: " ";
  border-radius: 100%;
  position: absolute;
  background-color: #fbfbff;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.footer-adress {
  max-width: 162px;
}
.footer-adress-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  opacity: 0.5;
  transition: opacity 250ms;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  opacity: 1;
}
.footer-line {
  stroke-width: 1px;
  stroke: rgba(251, 251, 251, 0.1);
}
.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-descr {
}
.footer-bottom-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}
.footer-bottom-copyright {
}
.footer-bottom-list {
  display: flex;
  gap: 20px;
}
.footer-bottom-item {
}
.footer-bottom-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}
/* #endregion Footer Desktop */
